@{
    ViewData["Title"] = "Dashboard Page";
}
<h5><a href="/dashboard">Dashboard</a></h5>
<h5><a href="/products">Products</a></h5>
<h5><a href="/orders">Orders</a></h5>
<h5><a href="/customers">Customers</a></h5>
<h5>Settings</h5>
<hr>
