<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Books/css/styles.css' %}">
  </head>
  <body>
    <a id="home_right" href="{% url 'books:index' %}">Home</a>
    <a id="logout_right" href="{% url 'loginUsers:logout' %}">Logout</a>
    <br>
    <br>
    {% if messages %}
      {% for message in messages %}
        {{ message|linebreaksbr }}
      {% endfor %}
    {% endif %}
    <br>
    <br>
    <form class="" action="{% url 'books:madeBookandReview' %}" method="post">
      {% csrf_token %}
      Book Title: <input type="text" name="booktitle">
      <br>
      Author:
      <input type="text" name="authorname">
      <br>
      Choose from the list:
      <select class="" name="authorname1">
        {% for i in authors %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% endfor %}
      </select>
      <!--Or add a new author: <input type="text" name="authorname">-->
      Review: <textarea name="reviewcontent"></textarea>
      Rating:
      <select class="" name="reviewrating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add Book and Review">
    </form>
  </body>
</html>
