@{
    ViewData["Title"] = "Home Page";
}
@model WeddingPlanner.Models.WeddingViewModel
@{
    DateTime CurrentTime = DateTime.Now;
}

<div class="add-container">
    <h1>Plan Your Wedding</h1>
    <hr>
    <div class="errors">
        @{
            if (ViewBag.Errors != null)
            {
                foreach(var error in ViewBag.Errors)
                {
                    <p class="alert alert-warning">@error</p>
                }
            }
        }
    </div>

    <form asp-controller="Wedding" asp-action="AddWedding" asp-anti-forgery="true" method="POST">
        <h4 class="form-titles">First Wedder's Name: </h4><input class="form-control" asp-for="Wedder1_Name">
        <h4 class="form-titles">Second Wedder's Name: </h4><input class="form-control" asp-for="Wedder2_Name">
        <h4 class="form-titles">Date: </h4><input class="form-control" asp-for="Wedding_Date">
        <h4 class="form-titles">Address: </h4><input class="form-control" asp-for="Wedding_Address"><br>
        <input class="btn btn-info login-btn btn-block" type="submit" value="Create"><br>
    </form>    
    <a asp-controller="Wedding" asp-action="Index"><button class="btn btn-default btn-s btn-block">Go Back</button></a>
</div>