<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninja.css') }}">
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>-->
  </head>
  <body>
    <p>Ninja Page!</p>
    <h1>Ninjas tell time like bosses<h1>
    <h2>Apart from the obvious skill of using the stars to tell time, apparently ninjas believed that the eyes of a cat are super sensitive. In fact, they believed them to be so sensitive that the cat’s eyes would reflect the movement of the sun and allow them to tell what time of the day it was. Of course just looking at the sun would be simpler, but would it be as cool?</h2>
    <h1>Ninjas don’t get lost</h1>
    <h2>In some ways ninjas are like boy scouts, they use seemingly useless things like tree stumps and Spanish moss to figure out other seemingly useless things like which way north is. Thus they can always figure out where they are at.</h2>
    <a href="dojo/new">Dojo Page</a>
    <a href="../">Index Page</a>
  </body>
</html>
