<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
            @foreach(var i in ViewBag.Errors)
            {
                <p>@i</p>
            }
        <form action="sumbitContactForm" method="post">
            Your Name: <input type="text" name="myName">
            Dojo Location: <select name="myLocation">
                <option>Seattle</option>
                <option>New York</option>
                <option>Russia</option>
                <option>SomeWhere</option>
                <option>Over the rainbow</option>
            </select>
            Favorite Language: <select name="myLanguage">
                <option>Java</option>
                <option>C#</option>
                <option>Airplane</option>
                <option>Python</option>
                <option>C++</option>
            </select>
            Comment (optional): <textarea name="myComment"></textarea>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>