<!DOCTYPE html>
<html>
  <head>
    <title>NinjaGold</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'gold/css/style.css' %}" />
  </head>
  <body>
    <div>
    	<h3>Your Gold: {{request.session.totalGold}}</h3>
    </div>
    <div id="topwrap">
    	<div class="boxes4" id="farmbox">
    		<h2>Farm</h2>
    		<h3>(earns 10-20 golds)</h3>
        <form action="/process" method="post">
          {% csrf_token %}
          <input type="hidden" name="btn" value="farm" />
          <input type="submit" value="Find Gold!"/>
        </form>
    	</div>
    	<div class="boxes4" id="cavebox">
    		<h2>Cave</h2>
    		<h3>(earns 5-10 golds)</h3>
        <form action="/process" method="post">
          {% csrf_token %}
          <input type="hidden" name="btn" value="cave" />
          <input type="submit" value="Find Gold!"/>
        </form>
    	</div>
    	<div class="boxes4" id="housebox">
    		<h2>House</h2>
    		<h3>(earns 2-5 golds)</h3>
        <form action="/process" method="post">
          {% csrf_token %}
          <input type="hidden" name="btn" value="house" />
          <input type="submit" value="Find Gold!"/>
        </form>
    	</div>
    	<div class="boxes4" id="casinobox">
    		<h2>Casino</h2>
    		<h3>(earns/takes 0-50 golds)</h3>
        <form action="/process" method="post">
          {% csrf_token %}
          <input type="hidden" name="btn" value="casino" />
          <input type="submit" value="Find Gold!"/>
        </form>
    	</div>

        {% for i in request.session.wordTracker %}
          {% for key, value in i.iteritems %}
            {% if value == "green"%}
              <h6>{{i.sentence}}</h6>
            {% endif %}
            {% if value == "red"%}
              <h5>{{i.sentence}}</h5>
            {% endif %}
          {% endfor %}
        {% endfor %}
    <form action="/reset" method="post">
       {% csrf_token %}
  	 	 <input type="hidden" name="hidden" value="reset" />
  	   <input type="submit" name="submit" value="Reset the game">
    </form>
  </body>
</html>
