<!DOCTYPE html>
<html>
    <head>
        <title>Survey</title>
    </head>
    <body>
        <form action="/surveyProcess" method="post">
            {% csrf_token %}
            <input type="text" name="fullName">
            Dojo Locations:
            <select name="loc">
              <option value="Seattle">Seattle</option>
              <option value="NotSeattle">NotSeattle</option>
            </select>
            Favorite Language:
            <select name="lan">
               <option value="Java">Java</option>
              <option value="NotJava">Java</option>
            </select>
            <p>Comment (optional):</p>
            <textarea name="message">
            </textarea>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
