<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/styles.css' %}">
  </head>
  <body>
    <h1>Hello, {{currUser.first_name}} - {{request.session.currentUser}}</h1>
    <form action="{% url 'loginUsers:index' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
    <form action="{% url 'dojoSecrets:addPost' %}" method="POST">
      {% csrf_token %}
      <textarea name="secretPost"></textarea>
      <input type="submit" value="Post">
    </form>

    <form action="{% url 'dojoSecrets:popular' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Most Popular Secrets">
    </form>


    <h2>Recent Secrets...</h2>
    <br>
    {% for i in showSecrets %}
    <p class="inline-blockslol">{{i.description}} ({{i.created_at|naturaltime}})</p>
    {% if i.creator.id == request.session.currentUser %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol">Liked: {{ count.num_likes }} times!</p>
        {% endif %}
      {% endfor %}
      <p class="inline-blockslol"><strong>You posted this</strong></p>
    <form class="inline-blockslol" action="{% url 'dojoSecrets:deletePost' id=i.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
    <br>
    <br>
    {% elif currUser in i.user_likes.all %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol"><strong>Liked: {{ count.num_likes }} times!</strong></p>
        {% endif %}
      {% endfor %}
      <br>
      <br>
    {% else %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol">Liked: {{ count.num_likes }} times!</p>
        {% endif %}
      {% endfor %}
    <form class="inline-blockslol" action="{% url 'dojoSecrets:likes' id=i.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Like">
    </form>
    <br>
    <br>

    {% endif %}
    {% endfor %}


    <table>
      <tr>
        <th>Secret</th>
        <th>Delete</th>
        <th>Like</th>
      </tr>
    {% for i in showSecrets %}
    <tr>
    <td>{{i.description}}</td>

    {% if i.creator.id == request.session.currentUser %}
    <td>
      <form action="{% url 'dojoSecrets:deletePost' id=i.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
    </td>
    <td>
      {% for count in countlikess %}
          {% if forloop.counter == forloop.parentloop.counter %}
          <p>Liked: {{ count.num_likes }} times!</p>
          {% endif %}
        {% endfor %}
    </td>

    {% elif currUser in i.user_likes.all %}
    <td>Can't Delete</td>
    <td>
      {% for count in countlikess %}
          {% if forloop.counter == forloop.parentloop.counter %}
          <p>Liked: {{ count.num_likes }} times!</p>
          {% endif %}
        {% endfor %}
    </td>
    {% else %}
    <td>Can't Delete</td>

    <td>
      <form action="{% url 'dojoSecrets:likes' id=i.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Like">
      </form>
      {% for count in countlikess %}
          {% if forloop.counter == forloop.parentloop.counter %}
          <p>Liked: {{ count.num_likes }} times!</p>
          {% endif %}
        {% endfor %}
    </td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>


  <table>
    <tr>
      <th>Message ID</th>
      <th>User ID</th>
      <th>Secret</th>
      <th>Date Created</th>
      <th>Like Count</th>
    </tr>
  {% for some in showSecrets %}
    <tr>
    <td>{{some.id}}</td>
    <td>{{some.creator.id}}</td>
    <td>{{some.description}}</td>
    <td>{{some.created_at|naturaltime}}</td>
    <td>
      {% for count in countlikess %}
          {% if forloop.counter == forloop.parentloop.counter %}
          <p>{{ count.num_likes }} </p>
          {% endif %}
        {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
  </body>
</html>
