<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/styles.css' %}">
  </head>
  <body>





    <h2>Most Popular Searches</h2>
    <br>
    {% for i in countlikess %}
    <p class="inline-blockslol">{{i.description}} ({{i.created_at|naturaltime}})</p>
    {% if i.creator.id == request.session.currentUser %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol">Liked: {{ count.num_likes }} times!</p>
        {% endif %}
      {% endfor %}
      <p class="inline-blockslol"><strong>You posted this</strong></p>
    <form class="inline-blockslol" action="{% url 'dojoSecrets:deletePost' id=i.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
    <br>
    <br>
    {% elif currUser in i.user_likes.all %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol"><strong>Liked: {{ count.num_likes }} times!</strong></p>
        {% endif %}
      {% endfor %}
      <br>
      <br>
    {% else %}
    {% for count in countlikess %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p class="inline-blockslol">Liked: {{ count.num_likes }} times!</p>
        {% endif %}
      {% endfor %}
    <form class="inline-blockslol" action="{% url 'dojoSecrets:likes' id=i.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Like">
    </form>
    <br>
    <br>

    {% endif %}
    {% endfor %}











    <form class="inline-blockslol" action="{% url 'dojoSecrets:index' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Back">
    </form>
  </body>
</html>
