@{
    ViewData["Title"] = "Home Page";
}
@{
    foreach(var i in @ViewBag.ErrorList)
    {
        <h1>@i</h1>
    }
}

<h1>Welcome to the quoting dogo!</h1>
<form action="quotes" method="post">
    Your name: <input type="text" name="name">
    Your quote: <textarea name="quote"></textarea>
    <input type="submit" value="Add Quote">
</form>

<form action="quotes" method="get">
    <input type="submit" value="Skip To Quotes">
</form>