<html>
    <head>
       <title>Counter</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
		<div id="center">
			<h1>Welcome to the Great Number Game</h1>
			<p>I am thinking of a number between 1 and 100</p><br>
			<p>Take a guess!</p>
			<form  action='/data' method='post'> <!-- This line is important because you need to call the action and use the post method -->
				<input type="text" name="Guess">  <!-- you need the Guess name to check if your "Guess" which is a number is equal to the random number -->
				<br>
				<input type="submit" name="name" value='Submit'>
			</form>
		</div>
    </body>
</html>
